// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, h3, h4, h5, p {
	text-align: center;
}

.new_product, .edit_product{
	padding-top:10px;
}
.item_bike{
	padding:6% 6%;
}
.product_show{
	margin-top:5%;
}
.back_btn{
	text-align:center;
	padding-top:5px;
}
.form-new{
	width:50%;
}