<div class="col-sm-12 col-md-12 edit_product">
	<h1>Editing Product</h1>

	<%= render 'form', product: @product %>

	<%= link_to 'Show', @product, class: "btn btn-default" %> |
	<%= link_to 'Back', products_path, class: "btn btn-default" %>
</div>