<div class="edit_product">
	<p><strong>Editing Product</strong></p>

	<%= render 'form', product: @product %>
</div>

<div class="back_btn">
	<%= link_to 'Show', @product, class: "btn btn-default btn-md" %>
	<%= link_to 'Back', products_path, class: "btn btn-default btn-md" %>
</div>