<p id="notice"><%= notice %></p>

<div class="col-md-12 col-xs-12">
  <h2>Our Products</h2>
</div>

<br>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <%= render partial: "product", locals: {product: product} %>
    <% end %>
  </div>
</div>

<br>

<div class="newProduct">
	<button name="button" type="button" class="newProductButton">
		<%= link_to 'New Product', new_product_path %>
	</button>
</div>

