<div class="new_product">
	<p><strong>New Product</strong></p>

	<%= render 'form', product: @product %>
</div>

<div class="back_btn">
	<%= link_to 'Back', products_path, class: "btn btn-default btn-md" %>
</div>